/* Style Settings */
@import url("//fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --bgColor: #eeeeee;
  --accentColor: #204051;
  --font: "Roboto", sans-serif;
}

body {
  background-color: var(--accentColor);
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

#userPhoto {
  width: 96px;
  height: 96px;
  display: block;
  margin: 35px auto;
  border-radius: 25%;
  border-style: solid;
}

#userName {
  color: #bbb;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
}

p {
  display: inline-block;
  color: var(--bgColor);
  font-family: var(--font);
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border-radius: 10px;
}

#links {
  width: 100%;
  background-color: var(--bgColor);
  display: block;
  margin: 17px 0;
  padding: 27px 0 54px;
}

h1 {
  text-align: center;
  font-family: var(--font);
  color: var(--accentColor);
}

#social-media {
  margin: auto;
}

.link {
  display: block;
  width: 95%;
  max-width: 675px;
  background-color: var(--accentColor);
  color: var(--bgColor);
  font-family: var(--font);
  text-align: center;
  margin: 27px auto 0;
  padding: 17px 0;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border-radius: 25px;
}

.link:hover {
  background-color: #3b6978;
  color: #ffffff;
}
