@import url("//fonts.googleapis.com/css2?family=Quicksand&display=swap");

@-webkit-keyframes argh-my-eyes {
  0% {
    background-color: #302387;
  }
  25% {
    background-color: #ff3796;
  }
  50% {
    background-color: #c32bad;
  }
  75% {
    background-color: #00faac;
  }
  100% {
    background-color: #fffdaf;
  }
}

@-moz-keyframes argh-my-eyes {
  0% {
    background-color: #302387;
  }
  25% {
    background-color: #ff3796;
  }
  50% {
    background-color: #c32bad;
  }
  75% {
    background-color: #00faac;
  }
  100% {
    background-color: #fffdaf;
  }
}

@keyframes argh-my-eyes {
  0% {
    background-color: #302387;
  }
  25% {
    background-color: #ff3796;
  }
  50% {
    background-color: #c32bad;
  }
  75% {
    background-color: #00faac;
  }
  100% {
    background-color: #fffdaf;
  }
}

* {
  box-sizing: border-box;
}

body {
  animation: argh-my-eyes 0.7s infinite;
  -webkit-animation: argh-my-eyes 1s infinite;
  -moz-animation: argh-my-eyes 1s infinite;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}

a {
  text-decoration: none;
}

#userPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userPhoto {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

#userName {
  color: #ffffff;
  margin: 20px 0 0;
}

#links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 18px;
  color: #302387;
  height: 42px;
  max-width: 100%;
  text-decoration: none;
  width: 280px;
  font-size: 24px;
}
