/* Style Settings */
@import url("//fonts.googleapis.com/css?family=Karla:400,700&display=swap");
:root {
  --bgColor: #1c1c1c;
  --accentColor: #c5d0d3;
  --font: "Karla", sans-serif;
}

body {
  /* https://www.vecteezy.com/vector-art/2882808 */
  background: no-repeat fixed top / cover url("images/background.svg");
  text-align: center;
}

#userPhoto {
  width: 140px;
  display: block;
  margin: 35px auto 20px;
  border-radius: 25px;
}

#userName {
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  font-family: var(--font);
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  border-radius: 15px;
  display: inline-block;
  background-color: var(--accentColor);
  color: #1c1c1c;
  font-family: var(--font);
  text-align: center;
  margin-bottom: 20px;
  padding: 17px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border: solid var(--accentColor) 2px;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  border-radius: 15px;
  display: block;
  background-color: var(--accentColor);
  color: #1c1c1c;
  font-family: var(--font);
  text-align: center;
  margin-bottom: 20px;
  padding: 17px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border: solid var(--accentColor) 2px;
}

.link:hover {
  background-color: #5986e7;
  color: var(--accentColor);
}

ion-icon {
  vertical-align: text-bottom;
  width: 1.1875em;
  height: 1.1875em;
}
